@import 'core';

#header {
    @include no-margin-padding();

    background-color: $dark-grey;
    border-bottom: $divider-size solid $divider-highlight;
    box-shadow: 0 $divider-size 0 $dropshadow-medium;
    grid-area: 1 / 1 / span 1 / span 3;
    display: grid;
    grid-template-columns: $gutter-size auto auto $gutter-size;

    hgroup {
        grid-area: 1 / 2;
        padding: 1em 0 1em;
        margin: 0;
        
        /*
        background-image: url("/assets/portrait.jpg");
        background-size: 3em;
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 4em;
        */

        h2 {
            vertical-align: middle;
            font-size: 2em;
            font-weight: normal;
            @include text-dropshadow();
            @include no-margin-padding();
        }

        h3 {
            font-size: 1.25em;
            font-weight: normal;
            @include text-dropshadow();
            @include no-margin-padding();
        }
    }

    nav.icons {
        grid-area: 1 / 3;
        justify-content: flex-end;
        font-size: 1.25em;

        a {
            padding: .75em;
        }

        a:hover {
            background-color: black;
            border-color: $divider-dropshadow;
            text-decoration: none;
        }
    }
}


/* IE10+ specific styles go here */  
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #header  {
        padding: 0 $gutter-size;

        hgroup {
            float: left;
        }

        nav {
            float: right;
            position: relative;
            top: 1em;
        }

        .clear {
            clear: both;
        }
    }
}