@import 'core';

nav.icons {
    display: flex;
    align-items: center;

    a {
        margin: 0;
        padding: .5em 0;
        text-decoration: none;
        display: flex;
        align-items: center;
        border-radius: .25em;
        color: white;
        @include text-dropshadow();

        span {
            display: none;
        }

        img {
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            margin-right: .5em;
        }
    }
    a:hover {
        text-decoration: underline;
        text-shadow: none;
    }
}